<div ng-controller="DtgeTree.EditController as vm">

    <umb-load-indicator ng-if="vm.page.loading"></umb-load-indicator>

    <form name="contentTypeForm" val-form-manager>

        <umb-editor-view ng-if="!vm.page.loading">

            <umb-editor-header name="vm.dtge.Name"
                               alias="vm.dtge.Alias"
                               icon="vm.dtge.Icon"
                               description="vm.dtge.Path">
            </umb-editor-header>

            <umb-editor-container>
                <umb-box>
                    <umb-box-content>

                        <umb-property data-element="property-{{property.alias}}"
                                      ng-repeat="property in vm.properties track by property.alias"
                                      property="property">

                            <umb-property-editor model="property">
                            </umb-property-editor>

                        </umb-property>
                    </umb-box-content>
                </umb-box>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>

                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button type="button"
                                action="vm.save()"
                                state="vm.page.saveButtonState"
                                button-style="success"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>

        </umb-editor-view>

    </form>

</div>
